%---------------------------------------------------------
  \cventry
    { {{Organization}} } % Job title
    { {{Job_title}} } % Organization
    { {{Location}} } % Location
    { {{Start_Date}} - {{End_Date}} } % Date
    {
      \begin{cvitems} % Description(s) of tasks/responsibilities
        \item { {{Description[0]}} }
        \item { {{Description[1]}} }
        \item { {{Description[2]}} }
      \end{cvitems}
    }
